/*
http://www.color-hex.com/color-palette/895

verde1: #96ceb4 - rgb(150, 206, 180)
verde2: #88d8b0 - rgb(136,216,176)
amarillo: #ffeead - rgb((255,238,173))
mostaza: #ffcc5c - rgb(255,204,92)
salmon: #ff6f69 - rgb(255,111,105)
*/

*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #96ceb4;
  font-family: 'Roboto Mono', monospace;
}

h1{
  padding: 2% 3%;
  font-size: 5em;
  color: #ffeead;
  text-shadow: .04em -.04em #ff6f69;

  text-align: center;
}

input {
  border-style: none;
  font-size: 1em;
  text-align: center;
  color: #ffeead;
}

input:focus {
  outline: none;
  box-shadow: inset 0 0 20px 4px rgba(0,0,0,0.3);
}

#number-input{
  background-color: #96ceb4;
  border: 3px solid #ff6f69;
  color: grey;
  border-radius: 50px;
  font-size: 3em;
  position: relative;
  left: 40%;
  height: 1.5em;
  width: 4em;
  padding: .5em;
}

#submit{
  border-radius: 100%;
  font-size: 1.7em;
  color: rgba(0,0,0,0.4);
  background-color: #ff6f69;
  padding: .3em;
  position: relative;
  left: 36%;
  top: 15px;
  box-shadow: inset 1px 1px 20px 5px rgba(175, 81, 78, 0.9);
}

#submit:hover{
  color: #ffeead;
}

#message{
  color: #ff6f69;
  background-color: rgba(0,0,0,0.2);
  border-radius: 50px;
  font-size: 1.2em;
  margin: 1%;
  margin-top: 3%;
  text-align: center;
}

#numbers{
  /* border: 1px solid black; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5% 10%;
}

.number{
  background-color: #ffeead;
  padding: 2%;
  font-size: 3em;
  color: #96ceb4;
}

#btn-container{
  display:flex;
  justify-content: space-around;
}

.btn{
  width: 47%;
  background-color: rgba(0,0,0,0.3);
  border-radius: 50px;
  font-size: 1.5em;
  padding: .2em;
}

.btn:hover{
  background-color: rgba(0,0,0,0.4);
  color: #ff6f69;
}
